body{
    all: unset;
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: red;
}

button{
    all: unset;
    text-align: center;
    margin: 20px 0;
    padding: 1rem;
    border: 3px white solid;
}

#head{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
}

#day-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    height: 70vh;
}

#user-container{
    background-color: black;
    color: white;
    width: 30vw;
    padding: 1rem;
    border: 2px white solid;
}

#friend-user{
    background-color: black;
    color: white;
    width: 30vw;
    padding: 1rem;
    border: 2px white solid;
}

#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 60vh;
    color: white;
    background-color: black;
}