<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/default-style.css')}}">
    <!-- 
    if user is X, link X style
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/u-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/m-style.css')}}"> 
    -->
</head>
<body>
    <body id="login-body">
        <div">
            <h2>Login</h2>
            <form action="/home" method="post" id="login-container">
                <button type="submit" name="userStyle" value="default-style" class="btn">User Default</button>
                <button type="submit" name="userStyle" value="m-style" class="btn">User M</button>
                <button type="submit" name="userStyle" value="u-style" class="btn">User U</button>
            </form>
        </div>
</body>
</html>