<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/default-style.css')}}">
    
    <!-- 
    if user is X, link X style
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/u-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/m-style.css')}}"> 
    -->

</head>
<body class="">
    <div id="head">
        <h1>getUserName</h1>
        <div>
            <form action="/">
                <button class="btn">logout</button>
            </form>
        </div>
    </div>
    
    <div id="day-container" class="">
        <div id="day-0">
            <div id="title-section">
                <h3>getUserName</h3>
                <h5>getCurrentDate | getCurrentWeekNum</h5>
                <p>viewFullWeek</p>
            </div>
            <div id="objetivos-section">
                <div id="objetivo-X">
                    <p>task 1 | getStatus</p>
                    <p>task 2 | getStatus</p>
                    <p>task 3 | getStatus</p>
                    <p>getDescriptionOfSelectedTask</p>
                </div>
            </div>
        </div>
            <div id="day-1">
                <div id="title-section">
                    <h3>getUserName</h3>
                    <h5>getCurrentDate | getCurrentWeekNum</h5>
                    <p>viewFullWeek</p>
                </div>
                <div id="objetivos-section">
                    <div id="objetivo-X">
                        <p>task 1 | getStatus</p>
                        <p>task 2 | getStatus</p>
                        <p>task 3 | getStatus</p>
                        <p>getDescriptionOfSelectedTask</p>
                    </div>
                </div>
            </div>
            <div id="day-2">
                <div id="title-section">
                    <h3>getUserName</h3>
                    <h5>getCurrentDate | getCurrentWeekNum</h5>
                    <p>viewFullWeek</p>
                </div>
                <div id="objetivos-section">
                    <div id="objetivo-X">
                        <p>task 1 | getStatus</p>
                        <p>task 2 | getStatus</p>
                        <p>task 3 | getStatus</p>
                        <p>getDescriptionOfSelectedTask</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>
</html>