<div id="day-container" class="">
    <div id="user-container" class="">
        <div id="title-section">
            <h3>getUserName</h3>
            <h5>getCurrentDate | getCurrentWeekNum</h5>
            <p>viewFullWeek</p>
        </div>
        <div id="objetivos-section">
            <div id="objetivo-X">
                <p>task 1 | getStatus</p>
                <p>task 2 | getStatus</p>
                <p>task 3 | getStatus</p>
                <p>getDescriptionOfSelectedTask</p>
            </div>
        </div>
    </div>
    <div id="friend-user" class="">
        <div id="title-section">
            <h3>getFriendName</h3>
            <h5>getCurrentDate | getCurrentWeekNum</h5>
            <p>viewFullWeek</p>
        </div>
        <div id="objetivos-section">
            <div id="objetivo-X">
                <p>task 1 | getStatus</p>
                <p>task 2 | getStatus</p>
                <p>task 3 | getStatus</p>
                <p>getDescriptionOfSelectedTask</p>
            </div>
        </div>
    </div>
</div>